<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${titlePage}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>Nama: Rachmat Ridwan</h3>
    <h3>Tempat/Tanggal Lahir: Jakarta, 30 Okt 1998</h3>
    <h3>Alamat: Jalan Aselih RT 09/RW 01 Kel. Cipedak Kec. Jagakarsa Jakarta Selatan</h3>
    <h3>Riwayat Pendidikan:</h3>
    <h4>2005-2011 SDN Cipedak 06 Pagi</h4>
    <h4>2011-2013 SMPN 41 Jakarta</h4>
    <h4>2013-2016 SMAN 28 Jakarta</h4>
    <h4>2016-     Universitas Indonesia</h4>
    <h3>Deskripsi Diri:</h3>
    <p>Saya Ridwan, biasa dipanggil Rachmat Ridwan. Saat ini saya berkuliah di UI. Saya suka mengoding dalam Python.</p>
</body>
</html>